body 
{
    font: 100%/1.4 Verdana, Arial, Helvetica, snas-serif;
    background-color: "#FFF";
    margin:0;
    padding:0;
    color:"#000";



}
h1,h2,p
{
    margin-top:0;
    padding-right:1%;
    padding-left:1%;


}
a:link
{
    color: #42413C;
    text-decoration:none;

}
a:visited
{
    color:#6E6C64;
    text-decoration:none;
}
.content
{
    padding:1% 0;
}
